auto_mix_prep==0.2.0
deepxde==1.15.0
matplotlib==3.10.1
natsort>=8.4.0
numpy==1.26.4
pandas==1.5.3
psutil==7.0.0
pysindy==2.1.0
PyYAML>=6.0.1
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
tensorboard>=2.16.0
torch==2.4.0
